@charset "UTF-8";

/**************************************

       PukiWiki Additional CSS

***************************************/

/**************  BASE *****************/

body{
  color: #666;
  margin: 0;
  font-size:100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Hiragino Kaku Gothic ProN', 'Yu Gothic', sans-serif;
  font-weight: normal;
}

a:link,
a:active,
a:visited {
  background-color: transparent;
  color: black;
}
a:hover {
  color: #58F;
}

h1,h2,h3,h4,h5,h6{
  border: none;
  padding: 0;
  margin-bottom: 0.5rem;
  font-family:inherit;
  background-color:transparent;
  color: #333;
}

p {
  margin-bottom: 0.5rem;
}

dl.list1 {
  margin: 1rem 0 ;
  padding: 0;
}

dt {
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight:bold;
}

dd {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

pre {
  margin: 1rem 0;
  margin-bottom: 1rem;
  border: none;
  padding: 1rem;
  white-space:pre-wrap;
  word-wrap:break-word;
  overflow: auto;
  color: #333;
  background: #EEE;
}

ul,ol {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 0px !important;
  padding-left: 16px;
}

a.note_super{
  font-size: 0.75rem;
  vertical-align: top;
}

div.jumpmenu {
  visibility:hidden;
}

hr {
 border:none;
 border-top: dotted 1px #CCCCCC;
 height: 1px
}

hr.note_hr {
  visibility:hidden;
}

/* aname.inc.php */
.anchor_super {
  visibility:hidden;
}

/* hr.inc.php */
hr.short_line {
  width: 100%;
  height: 1px;
  margin-top: 0;
  margin-bottom: 1rem;
  background-color: #afafaf;
  border: none;
}

/* image.inc.php ref.inc.php */
div.img_margin {
  margin:0;
}


/***************** LAYOUT ******************/

/***** HEADER *****/

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 4rem;
  background: #444;
  box-shadow: 0 3px 0.3125rem rgba(0,0,0,.4);
  z-index: 999;
}

#logo {
  position: absolute;
  top: 1rem;
  left: 3rem;;
  width: 2rem;
}

header h1.title {
  position: absolute;
  top: 1.2rem;
  left: 6rem;
  margin: 0;
  padding: 0;
  line-height: 180%;
  font-size: 1rem;
  color: #CCC;
}

header h1.title a {
  font-size: 1.5rem;
  color: #FFF;
}

#searchBox form {
  position: absolute;
  top: 1.25rem;
  right: 3rem;
}

#searchBox form label { display: none;}
#searchBox input[name="word"]{ width: 96% !important;}
#searchBox input[type="submit"]{ display: none;}

@media only screen and (max-width: 768px) {
  #searchBox form { display: none;}
}


/***** READ MODE CONTAINER *****/

#readMode {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  #readMode {
    min-width: 16rem;
    display: block;
  }
}

/* NAVIGATION */

nav {
  background-color: #EEE;
}

#menuButton {
  position: fixed;
  top: 1rem;
  right: 3rem;
  z-index: 9999;
}

#menuButton a {
  font-size: 2rem;
  color: white;
}

#menuList {
  width: 10rem;
  padding: 3rem;
  font-size:0.8rem;
  z-index: 999;
}

@media only screen and (max-width: 768px) {
  #menuList {
    position: absolute;
    top: 4rem;
    width: 84%;
    padding: 3rem 8%;
    font-size: 1rem;
    background-color: #DDD;
    opacity: 0.9;
  }
}

#menuList h2 { font-size: 1rem;}
#menuList h5 { font-size: 1rem;}
#menuList ul { margin-bottom: 0.5rem;}
#menuList li { margin-bottom: 0.25rem;}

/* MAIN CONTENT */

article {
  width: 100%;
  padding: 3rem
}

@media only screen and (max-width: 768px) {
  article {
    width: 84%;
    padding: 3rem 8%;
  }
}

#main {
  width: 100%;
}

#main div {
  line-height: 180%;
}

#main h3{
  padding-bottom: 0.5rem;
  border-bottom: 1px dotted gray;
}

#main li,
#main p {
  margin-top: 0rem;
  line-height: 180%;
  text-align: justify;
}

#main img {
	max-width: 100%;
	height: auto;
}

#main iframe {
	display: block;
}

#main textarea,
#main input {
  max-width: 90% !important;
}

/* note attach lastmodified related */

#note {
  margin-bottom: 1rem !important;
}

#attach {
  margin-bottom: 1rem;
  font-size: 0.75rem;
}

#lastmodified {
  font-size:0.75rem;
  margin-bottom: 1rem;
}

#related {
  padding: 0 3rem;
  font-size:0.75rem;
  margin-bottom: 1rem;
}


/***** EDIT MODE CONTAINER *****/

#editMode {
  width: 70%;
  max-width: 960px;
  margin: 3rem auto;
}

#editMode textarea{
  display: block;
  width: 100% !important;
  line-height: 150%;
}

#editMode li:first-child {
  list-style-type: none;
}

#editMode input[name="preview"]{
  display: none;
}

/***** FOOTER *****/

footer {
  padding: 3rem;
  background: #EEE;
}

div#toolbar {
  margin-bottom: 1rem;
  text-align:center;
}

div#signature {
  font-size:0.75rem;
  text-align:center;
}

/* EOF */
